button {
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 8px 0;
  width: 100px;
  margin: auto;
  cursor: pointer;
  background-color: rgb(104, 143, 229);
  color: #fff;
}
button:hover {
  background-color: rgb(69, 119, 226);
}
.flight-cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.flight-card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  padding: 30px;
  background-color: #d8d5d5;
    img {
      width: 400px;
      height: 350px;
      object-fit: cover ;
    }
}

.flight-card:hover {
  background-color: #f5f2f2;
}

p {
  margin: 0;
  font-size: 19px;
}

.add-button {
  width: 200px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.add-message {
  text-align: center;
  color: rgb(10, 176, 10);
  font-size: 18px;
}
.title-link {
  color: rgb(50, 48, 48);
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.title-link:hover {
  cursor: pointer;
  background-color: rgb(210, 206, 206);
}

.add-flight {
  margin-top: 50px;
  margin-left: 40px;
}
